@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
.header-img {
  height: 100%;
  width: 66%;
  clip-path: url("/sections_clip.svg#custom-clip");
  overflow: hidden;
  background-color: #e7e7e6;
  
}

.logo-icon {
  background-color: currentColor;
  mask-image: url(/logo.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
}

.about-section {
  background-image: linear-gradient(
      rgba(81, 128, 246, 0.5),
      rgba(81, 128, 246, 0.5)
    ),
    url("/src/assets/about-bg.webp");
  background-size: cover;
  background-position: center;
  margin-inline: auto;
  padding-block: 2rem;
  position: relative;
}
.about-section-clip {
  clip-path: url("/sections_clip.svg#custom-clip");
  height: 100%;
  background-color: #6d91ee;
  width: 66%;
  rotate: 180deg;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;
}

@media (max-width: 768px) {
  .header-img {
    width: 100%;
    /* أو auto حسب التصميم */
    clip-path: none; /* نشيل القص */
  }

  .about-section {
    padding-block: 1.5rem;
  }

  .about-section-clip {
    width: 0%;
  }
}
